/* 전체 페이지에 대한 기본 스타일 */
body {
  font-family: Arial, sans-serif; /* 폰트 스타일 설정 */
  background-color: #efefef; /* 배경색 설정 */
  margin: 0; /* 마진 제거 */
  padding: 0; /* 패딩 제거 */
  display: flex; /* flexbox 레이아웃 사용 */
  justify-content: center; /* 가로 방향으로 중앙 정렬 */
  align-items: center; /* 세로 방향으로 중앙 정렬 */
  height: 100vh; /* 전체 뷰포트 높이 사용 */
}

/* 투두리스트 컨테이너 스타일 */
.container {
  background-color: aquamarine; /* 배경색 설정 */
  border: 2px solid black; /* 테두리 스타일 설정 */
  border-radius: 10px; /* 테두리 모서리 둥글게 설정 */
  padding: 20px; /* 내부 여백 설정 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
  width: 500px; /* 컨테이너의 폭 설정 */
  height: 500px;
}

/* 투두리스트 제목 스타일 */
h1 {
  text-align: center; /* 중앙 정렬 */
  color: #333; /* 글자색 설정 */
}

/* 할 일 입력 폼 스타일 */
#todo-form {
  display: flex; /* flexbox 레이아웃 사용 */
  justify-content: center; /* 가로 방향으로 중앙 정렬 */
  margin-bottom: 20px; /* 아래쪽 마진 추가 */
}

/* 할 일 입력 필드 스타일 */
#todo-input {
  flex: 1; /* 나머지 공간 모두 차지 */
  padding: 10px; /* 내부 여백 설정 */
  border-radius: 5px; /* 테두리 모서리 둥글게 설정 */
  border: 1px solid #ddd; /* 테두리 스타일 설정 */
  margin-right: 5px; /* 오른쪽 마진 설정 */
}

/* 할 일 추가 버튼 스타일 */
#todo-form button {
  padding: 10px; /* 내부 여백 설정 */
  border-radius: 5px; /* 테두리 모서리 둥글게 설정 */
  border: none; /* 테두리 없앰 */
  background-color: #5cdb95; /* 배경색 설정 */
  color: white; /* 글자색 설정 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}

/* 할 일 추가 버튼 호버 효과 */
#todo-form button:hover {
  background-color: #379683; /* 호버 시 배경색 변경 */
}

#todo-list {
  list-style: none;
  height: 350px; /* 10개 아이템의 대략적인 최대 높이 */
  overflow-y: auto;
  padding-left: 0px;
  border: 2px solid black; /* 테두리 스타일 설정 */
}

#todo-list li {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 요소들을 양 끔으로 정렬 */
  margin-top: 10px;
  padding-right: 20px;
  /* 기타 li 스타일 */
}

.text {
  flex-grow: 1; /* 텍스트가 남은 공간을 채움 */
  margin: 0 10px; /* 좌우 마진 추가 */
}

.edit {
  margin-left: 10px;
  cursor: pointer;
}

.delete {
  margin-left: 10px;
  cursor: pointer;
}
